.scene {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  perspective: 400px;
}

.triangle {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  
}

.triangle__face {
  width: 0px;
  height: 0px;
  border-left:100px solid transparent;
  border-right:100px solid transparent;
  border-bottom:200px solid red;
}

.triangle__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}
.triangle__face--right {
  background: hsla(60, 100%, 50%, 0.7);
}
.triangle__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}
.triangle__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.triangle__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.triangle__face--right {
  transform: rotateY(90deg) translateZ(100px) translateY(-100px);
}
.triangle__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.triangle__face--bottom {
  transform: rotateX(90deg) translateZ(100px);
}

label {
  margin-right: 10px;
}

@keyframes changingColors {
  0% {
    color: red;
    background-color: black;
  }
  50% {
    color: white;
    background-color: black;
  }
  100% {
    color: black;
    background-color: red;
  }
}

@keyframes rotating {
  0% {
    transform: translateZ(-100px) rotateY(0deg);
    /* transform: translateZ(-100px) rotateX(0deg); */
  }
  33% {
    transform: translateZ(-100px) rotateY(360deg);
    /* transform: translateZ(-100px) rotateX(360deg); */
  }
  66% {
    /* transform: translateZ(-100px) rotateX(0deg); */
  }
  100% {
    /* transform: translateZ(-100px) rotateX(360deg); */
  }
}

.triangle {
  animation: rotating 4s ease-in-out infinite;
}

.triangle__face {
  /* animation: changingColors 0.5s infinite; */
}
